.jumbotron {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color:rgb(24, 69, 59);
}

.btn {
    color: white;
    background-color: rgb(24, 69, 59);
    border-color: rgb(24, 69, 59);
    margin: 0.25rem;
    font-family: monospace;
}

.btn:hover {
    color: white;
    background-color: rgb(0, 46, 36);
}

.btn:active {
    color: white;
    background-color: rgb(24, 69, 59);
}

/* .answerBtn {
    display: grid;
    background-color: #750b5b;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 5px;
    color: #eee;
    outline: none;
}
.answerBtn:hover {
    background-color: #96658a;
} */

/* .submitBtn {
    display: inline-block;
    background-color: #750b5b;
    border-radius: 5px;
    margin: 5px;
    color: #eee;
    outline: none;
}
.submitBtn:hover {
    background-color: #96658a; */

ul,li { 
    list-style-type: none;
    list-style-position:inside;
    margin:0;
    padding:0;
}

.hide {
    display: none;
}